{% include 'base.html' %}
<!DOCTYPE html>
<html>
    <body>
        <a href="{% url 'login' %}">
        <button type="login">Login</button></a>
                
        {% if request.user.is_authenticated and request.user.role == 'Admin' %}
            <a href="{% url 'create_user' %}">
            <button type="register" >Register</button></a>
        {% else %}
            <a href="{% url 'create_user' %}">
            <button type="register" disabled>Register</button></a>
        {% endif %}
                
        <a href="{% url 'user_list' %}">
        <button type="user list">User List</button></a>
        
        <a href="{% url 'add_items' %}">
            <button type="add item">Add Items</button></a>
        
            <a href="{% url 'items_list' %}">
            <button type="item list">Items List</button></a>
        
        <a class="navbar-brand" href="{% url 'logout' %}">
            <button type="logout">Logout</button></a>
        
        
        <!-- {% if request.user.is_authenticated %}
        {{user.email}} - {{user.role}}
        {% endif %} -->
    </body>
</html>